#jstree_documents_container{
	overflow-x: auto;
	min-height: 200px;
	border: 1px solid #ccc;
	font-size: 0.8em;
}

.jstree-icon.file,
.jstree-icon.file-document,
.jstree-icon.file-spreadsheet,
.jstree-icon.file-pdf,
.jstree-icon.file-presentation
{
        background: transparent url('../images/document.png') top left no-repeat;
	background-position: 0px 0px !important;
}

.jstree-icon.file-document{
	background: transparent url('../images/document-text.png') top left no-repeat;
}

.jstree-icon.file-spreadsheet{
	background: transparent url('../images/document-spreadsheet.png') top left no-repeat;
}

.jstree-icon.file-pdf{
	background: transparent url('../images/document-pdf.png') top left no-repeat;
}

.jstree-icon.file-presentation{
	background: transparent url('../images/document-presentation.png') top left no-repeat;
}